/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('Page 3 Pictures/enrollment_background.png') no-repeat center center fixed  ;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enroll_header img {
  max-height: 180px;
  width: auto;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.lclogo {
  position: absolute;
  z-index: 1000;
  top: 250px;
  left: 500px;
}

.lclogo img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: auto;
}

.lclogo p {
  font-size: 80px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: -10px;
  white-space: nowrap;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} 

.destinylogo {
  position: absolute;
  z-index: 1000;
  top: 250px;
  right: 500px;
}

.destinylogo img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: auto;
}

.destinylogo p {
  font-size: 80px;
  color: rgb(255, 255, 255);
  position: absolute;
  right: -160px;
  white-space: nowrap;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} 

.emblem {
    max-width: 100px; /* Adjusted for smaller screens first */
    height: auto;
}

.bottom-section {
    font-size: 0.75rem; /* Adjusted for smaller screens first */
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    padding: 0 10px;
    position: absolute;
    top: 750px;
}