* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: white;
  color: black;
  text-align: center;
}

/* HEADER */
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.red{
  border-radius: none;
}

.header-left .pbag-logo {
  height: 80px;
}

.header-left .pbag-logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth effect */
    cursor: pointer; /* show pointer on hover */
}

/* Hover effect */
.header-left .pbag-logo:hover {
    transform: scale(1.1); /* make it slightly bigger */
    box-shadow: 0 8px 15px rgba(0,0,0,0.3); /* optional shadow */
}

.header-right {
  display: flex;
  gap: 15px;
}

.header-right i {
  font-size: 35px;
  color: black;
  transition: transform 0.2s ease, color 0.2s ease;
}

.header-right i:hover {
  transform: scale(1.2);
  color: gray;
}

/* MAIN EVENT */
.event-highlight {
  margin-top: 30px;
}

.event-highlight h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.event-media img {
  width: 100%;
  position: center;
  height: auto;
  border-radius: 10px; /* optional rounded corners */
}

/* COUNTDOWN */
.countdown {
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
}

.countdown span {
  background: black;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
}

.event-date {
  font-size: 20px;
  color: gray;
}
