html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

/* HEADER */
.site-header {
  width: 100%;
}

.blackHeader {
  height: 100px;
  background-image: url('./Page 2 Pictures/header_background.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: auto;
  cursor: pointer; /* Makes it obvious it's clickable */
}

.logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth effect */
    cursor: pointer; /* show pointer on hover */
}

/* Hover effect */
.logo:hover {
    transform: scale(1.1); /* make it slightly bigger */
    box-shadow: 0 8px 15px rgba(0,0,0,0.3); /* optional shadow */
}

.blackHeader a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
}

.left-section {
  width: 40%;
  padding: 20px;
}

.fbprofile {
  width: 100%;
  margin-bottom: 15px;
}

.fbicon {
  width: 20%;
  margin-left: 20px;
  margin-bottom: 15px;
  position: relative;
  left: 60px;
}

.watchnow {
  width: 60%;
  margin-left: auto;
  position: relative;
  bottom: 20px;
  left: 90px;
}
